.star{
  position: absolute;
  width: 68px;
  height: 50px;
  left: 810px;
  top: 158px;
}

.home{
  position: absolute;
  width: 274px;
  height: 86px;
  left: 705px;
  top: 259px;

  font-family: Lust Script;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 34px;
  text-align: center;

  color: #000000;
}

.about{
  position: absolute;
  width: 298px;
  height: 50px;
  left: 678px;
  top: 356px;

  font-family: Lust Script;
  font-style: italic;
  font-weight: normal;
  font-size: 76px;
  line-height: 43px;
  text-align: center;

  color: #000000;
}

.contact{
  position: absolute;
  width: 478px;
  height: 63px;
  left: 577px;
  top: 467px;

  font-family: Lust Script;
  font-style: italic;
  font-weight: normal;
  font-size: 96px;
  line-height: 54px;
  text-align: center;

  color: #000000;
}

.activities{
  position: absolute;
  width: 710px;
  height: 112px;
  left: 446px;
  top: 576px;

  font-family: Lust Script;
  font-style: italic;
  font-weight: normal;
  font-size: 100px;
  line-height: 56px;
  text-align: center;

  color: #000000;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.giftbox{
  position: absolute;
  width: 33px;
  height: 38px;
  left: 840px;
  top: 310px;
}

.trunk{
  position: absolute;
  left: 770px;
  top: 662px;

}

.plant{
  position: absolute;
  width: 58.7px;
  height: 50.12px;
  left: 775.35px;
  top: 413.81px;

  transform: rotate(-7.75deg);
}

.heart{
  position: absolute;
  left: 723px;
  top: 542px;

  background: #E4067B;
}


.stocking{
  position: absolute;
  left: 917px;
  top: 415px;
}

.snowflake1{
  position: absolute;
  left: 954px;
  top: 543px;

}

.snowflake2{
  position: absolute;
  width: 43px;
  height: 50px;
  left: 580px;
  top: 549px;
}

